@model Flashcard.ViewModels.AccountViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="content m-auto p-4" style="max-width:600px">
    <h5 class="my-4">ログイン</h5>
    <div class="p-5 border box-shadow">
        @{
            if (!string.IsNullOrEmpty(Model.ErrorMsg)) {
                <div class="invalid-feedback mb-3" style="display: block;">
                    @Model.ErrorMsg
                </div>
            }
            <form asp-antiforgery="true" asp-controller="Account" asp-action="Login" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="userName" class="form-label">ユーザ名</label>
                    <input type="text" name="UserName" id="userName" class="form-control box-shadow" required />
                    <div class="invalid-feedback" style="display: block;">
                        <span asp-validation-for="UserName"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">パスワード</label>
                    <input type="password" name="Password" id="password" class="form-control box-shadow" required />
                    <div class="invalid-feedback" style="display: block;">
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="text-center mt-5">
                    <input type="submit" value="ログイン" class="btnCommon w-80 box-shadow" name="btnName" />
                </div>
                <div class="text-center mt-4">
                    <input type="submit" value="テストログイン" class="btnTest w-80 box-shadow" name="btnName" />
                </div>
            </form>
        }
    </div>
</div>
