html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-size: 14px;
    color: #333;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
}

a {
    color: #00a1e9;
    text-decoration: none;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-80 {
    width: 80%;
}

.mt-45 {
    margin-top: 2em !important;
}

.mb-45 {
    margin-bottom: 2em !important;
}

.text-white {
    color: #FFF;
}

.text-black {
    color: #333;
}

.text-red {
    color: red;
}

.text-link {
    color: #00a1e9;
}

.font-120 {
    font-size: 120%;
}

.font-150 {
    font-size: 150%;
}

.form-control {
    border-color: #333 !important;
}

    .form-control:focus {
        box-shadow: none !important;
    }

.navbar-brand {
    font-weight: bold;
    letter-spacing: 0.05em;
    font-size: 18px;
}

.btnCommon {
    border-radius: 8px;
    border: none;
    background-color: #61425e;
    color: #FFF;
    padding: 7px 24px;
}

    .btnCommon:hover {
        box-shadow: none !important;
        opacity: 0.8;
    }

.btnGreen {
    background-color: #70A19F;
}

.btnBlue {
    background-color: #6EA4CA;
}

.btnGray {
    background-color: #9790a4;
}

.btnRed {
    background-color: #c97586;
}

.btnBig {
    padding: 10px 24px !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

/* グラフ */
.canvas-container {
    position: relative;
    width: calc(100% - 40px);
    height: 300px;
    overflow: hidden;
    margin: 20px;
}

/* レスポンシブ */
.w-variable {
    width: 80%;
}
.w-90-45-30 {
    width: 30%;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .w-variable {
        width: 100%;
    }
    .w-90-45-30 {
        width: 96% !important;
    }
    .table th {
        display: none;
    }
    .table td {
        border-bottom: none;
        display: block;
        width: 100%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .w-90-45-30 {
        width: 45%;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

