html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-size: 14px;
    color: #333;
    font-family: "ü‡ÉSÉVÉbÉN Medium", "Yu Gothic Medium", "ü‡ÉSÉVÉbÉNëÃ", "YuGothic", "ÉqÉâÉMÉmäpÉS ProN W3", "Hiragino Kaku Gothic ProN", "ÉÅÉCÉäÉI", "Meiryo", "verdana", sans-serif;
}

a {
    color: #00a1e9;
    text-decoration: none;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-80 {
    width: 80%;
}

.mt-45 {
    margin-top: 2em !important;
}

.mb-45 {
    margin-bottom: 2em !important;
}

.text-white {
    color: #FFF;
}

.text-black {
    color: #333;
}

.text-red {
    color: red;
}

.text-link {
    color: #00a1e9;
}

.font-120 {
    font-size: 120%;
}

.font-150 {
    font-size: 150%;
}

.form-control {
    border-color: #333 !important;
}

    .form-control:focus {
        box-shadow: none !important;
    }

.navbar-brand {
    font-weight: bold;
    letter-spacing: 0.05em;
    font-size: 18px;
}

.btnCommon {
    border-radius: 8px;
    border: none;
    background-color: #61425e;
    color: #FFF;
    padding: 7px 24px;
}

    .btnCommon:hover {
        box-shadow: none !important;
        opacity: 0.8;
    }

.btnGreen {
    background-color: #70A19F;
}

.btnBlue {
    background-color: #6EA4CA;
}

.btnGray {
    background-color: #9790a4;
}

.btnRed {
    background-color: #c97586;
}

.btnBig {
    padding: 10px 24px !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
