html {
  font-size: 14px;
  color: #333;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  /*background-color: #f9eee8;*/
}

a {
    color: #00a1e9;
    text-decoration: none;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-80 {
    width: 80%;
}

.text-white {
    color: #FFF;
}

.text-black {
    color: #333;
}

.text-red {
    color: red;
}

.text-link {
    color: #00a1e9;
}

.font-120 {
    font-size: 120%;
}

.font-150 {
    font-size: 150%;
}

.form-control {
    border-color: #333 !important;
}

    .form-control:focus {
        box-shadow: none !important;
    }

/*nav.navbar, footer {
    background-color: #c2a5b0 !important;
}*/
.navbar-brand {
    /*color: #61425e !important;*/
    font-weight: bold;
}

.btnCommon {
    border-radius: 8px;
    border: none;
    background-color: #61425e;
    color: #FFF;
    padding: 0.5em;
    margin-bottom: 3px;
}

.btn:focus {
    box-shadow: none !important;
}

.btnLight {
    border-radius: 8px;
    border: none;
    background-color: #666;
    color: #FFF;
    padding: 0.5em;
    margin-bottom: 3px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
